image: $CI_REGISTRY/okoteka/protobuf-builder:latest

before_script:
  - mkdir -p ~/.docker
  - echo "$DOCKER_AUTH_CONFIG" > ~/.docker/config.json

stages:
  - test

check-generate:
  stage: test
  script:
    - |
      if [ ! -d gen ]; then
        echo "gen/ folder does not exist"
        exit 1
      fi
    - git diff --exit-code gen/ || (echo "Generated code differs from committed gen/" && exit 1)
    - |
      if [ "$CI_MERGE_REQUEST_TARGET_BRANCH_NAME" != "" ]; then
        buf breaking --against ".git#branch=${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
      fi
  tags:
    - runner-docker
  
check-lint:
  stage: test
  needs: ["check-generate"]
  script:
    - buf lint
  tags:
    - runner-docker

check-test:
  stage: test
  needs: ["check-lint"]
  script:
    - cd test && go test -v ./...
  tags:
    - runner-docker
