iamge: $CI_REGISTRY/okoteka/internal-images/protobuf:latest

before_script:
  - mkdir -p ~/.docker
  - echo "$DOCKER_AUTH_CONFIG" > ~/.docker/config.json

stages:
  - test
  - release

check_generate:
  stage: test
  script:
    - |
      if [ ! -d gen ]; then
        echo "gen/ folder does not exist"
        exit 1
      fi
      buf generate
    - git diff --exit-code gen/ || (echo "Generated code differs from committed gen/" && exit 1)
    - |
      if [ "$CI_MERGE_REQUEST_TARGET_BRANCH_NAME" != "" ]; then
        buf breaking --against ".git#branch=${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
      fi
  tags:
    - runner-docker
  
check_lint:
  stage: test
  needs:
    - check_generate
  script:
    - buf lint
  tags:
    - runner-docker

check_test:
  stage: test
  needs:
    - check_lint
  script:
    - go test -v ./...
  tags:
    - runner-docker

release_tag:
  stage: release
  needs:
    - check_test
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: manual
  script:
    - |
      if [ -z "$RELEASE_VERSION" ]; then
        echo "RELEASE_VERSION is not set"
        exit 1
      fi

      # remove local ghost tags
      git tag -l | xargs -r git tag -d
      
      git fetch --prune --tags
      if git ls-remote --tags origin | grep -q "refs/tags/v$RELEASE_VERSION"; then
        echo "Tag v$RELEASE_VERSION already exists on remote"
        exit 1
      fi
      
      git remote set-url origin https://oauth2:${RELEASE_TAG_TOKEN}@${CI_PROJECT_URL#https://}

      git tag "v$RELEASE_VERSION"
      git push origin "v$RELEASE_VERSION"
  tags:
    - runner-docker
